source install/setup.sh

# --- For Iceoryx Zero-Copy (with CycloneDDS) ---
export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
export CYCLONEDDS_URI=/home/mijiao/ckyf_vision/cyclonedds_shm.xml

# --- For FastDDS SHM (uncomment to switch back) ---
# export RMW_IMPLEMENTATION=rmw_fastrtps_cpp
# export FASTRTPS_DEFAULT_PROFILES_FILE=/home/mijiao/ckyf_vision/fastdds_shm_profile.xml
